@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

:root{
    color: white;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #FF007F;
}

p, a, button, li{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
}