.MainInfo{
    padding-bottom: 120px;
}

.Mainh1size{
    font-size: 50px;
    padding-bottom: 50px;
}

.MainInfoText{
    width: 550px
}

.MainInfop{
    font-size: 20px;
    font-weight: 300;
    width: 520px;
    padding-bottom: 25px;
    line-height: 150%;
}

